# Archivos de sistema macOS
.DS_Store

# Copias de seguridad de datos de usuario
*English_Backup*.json

# Scripts temporales de utilidades
*.js
!sw.js
!english_data.js
!html2canvas.min.js

# Configuración de entornos y editores
.agents/
*.code-workspace

# Utilidades extra
GeneraldorMP3/
